<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring MVC Demo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <h1>Hello World</h1>
    <h2>This is my Thymeleaf index page. This is changed.</h2>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"/>
</body>
</html>